<script setup>
import { reactive } from "vue";
import { Head, Link, router } from "@inertiajs/vue3";
import comment from "./../../Components/Comments/CommentItem.vue";

const props = defineProps({
    comments: Array,
    post: Object,
});

const form = reactive({
    body: null,
    post_id: props.post.id,
});

const action = (data, type) => {
    console.log(data.id);
    switch (type) {
        case "update":
            router.put("/comments/" + props.comments.id, data);
            break;

        case "cancel":
            data.defaults();
            break;

        default:
            router.post("/comments", data);
            break;
    }

    data.reset();
    //editMode.reset();
};
</script>
<template>
    <!--Comment Section-->
    <div class="bg-white rounded shadow-sm p-8 mb-4">
        <div class="mb-4">
            <h2 class="text-black">Comments</h2>
        </div>
        <textarea
            placeholder="Add a comment"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            v-model="form.body"
        >
        </textarea>
        <div class="mt-3">
            <button
                class="border border-blue bg-gray-600 text-white hover: text-white-500 py-2 px-4 rounded tracking-wide mr-1"
                @click="action(form, 'store')"
            >
                Save
            </button>
            <button
                class="border border-grey-darker text-grey-600 hover:bg-grey-dark hover:text-gray-500 py-2 px-4 rounded tracking-wide ml-1"
                @click="action(form, 'cancel')"
            >
                Cancel
            </button>
        </div>
    </div>

    <div class="bg-white rounded shadow-sm p-8">
        <comment
            v-for="(comment, index) in $props.comments"
            :key="comment.id"
            :user="comment.user"
            :comment="comment"
            :class="[index === comment.length - 1 ? '' : 'mb-6']"
        >
        </comment>
    </div>
</template>
