<script setup>
const props = defineProps({
    user: Object,
    comment: Object,
});

let editable = () => {
    return props.auth.user.id === props.user.id;
};
</script>
<template>
    <div>
        <div>
            <div class="flex justify-between mb-1">
                <p class="text-grey-darkest leading-normal text-lg">
                    {{ props.comment.comment }}
                </p>
            </div>
            <div class="text-grey-dark leading-normal text-sm">
                <p>
                    {{ props.user.name }}
                    <span class="mx-1 text-xs">&bull;</span>
                    {{ props.comment.created_at }}
                </p>
            </div>
        </div>
    </div>
</template>
