<script setup>
import { computed } from "vue";
import { Head, Link } from "@inertiajs/vue3";

const props = defineProps({
    links: Array,
});

const showPagination = computed(() => props.links.length > 3);
const borderRightClass = (link) => {
    return link.label == "Next" ? "border-r" : "";
};
</script>
<template>
    <div class="flex items-center" v-if="showPagination">
        <span v-for="(link, key) in props.links" :key="key">
            <Link
                class="border-t border-b border-l border-brand-light px-3 py-2 hover:bg-brand-light text-brand-dark no-underline"
                v-bind:class="borderRightClass(link)"
                :href="link.url"
                v-if="link.url && link.active == false"
                >{{ link.label }}</Link
            >
            <span
                class="border-t border-b border-l border-brand-light px-3 py-2 bg-gray-200 no-underline"
                v-bind:class="borderRightClass(link)"
                v-else
                >{{ link.label }}</span
            >
        </span>
    </div>
</template>
<script></script>
