<script setup>
import { reactive } from "vue";
import { Link, router } from "@inertiajs/vue3";
import AppLayout from "./../../Layouts/AppLayout.vue";

const props = defineProps({
    categories: Array,
    posts: Object,
    errors: Object,
    success: Object,
});

let editMode = reactive({
    status: !props.posts ? false : true,
});
let form = reactive({
    title: !props.posts ? null : props.posts.title,
    body: !props.posts ? null : props.posts.body,
    category_ids: !props.posts ? [] : props.posts.category_ids,
    tags_input: !props.posts ? null : props.posts.tags_input,
});

const action = (data, type) => {
    console.log(data.id);
    switch (type) {
        case "update":
            router.put("/posts/" + props.posts.id, data);
            break;

        default:
            router.post("/posts", data);
            break;
    }

    form.reset();
    editMode.reset();
};
</script>
<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Posts
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div
                        class="p-6 sm:px-20 bg-white border-b border-gray-200 pb-20"
                    >
                        <div class="mt-8 mb-8 text-2xl">
                            {{ props.posts ? "Update" : "Create" }} New Post
                        </div>
                        <div
                            class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md my-3"
                            role="alert"
                            v-if="props.success.message"
                        >
                            <div class="flex">
                                <div>
                                    <p class="text-sm">
                                        {{ props.success.message }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <form>
                            <div class="bg-white">
                                <div class="">
                                    <div class="mb-4">
                                        <label
                                            for="exampleFormControlInput1"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                            >Title:</label
                                        >
                                        <input
                                            type="text"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="exampleFormControlInput1"
                                            placeholder="Enter Title"
                                            v-model="form.title"
                                        />
                                        <div
                                            v-if="props.errors.title"
                                            class="text-red-500"
                                        >
                                            {{ props.errors.title }}
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label
                                            for="exampleFormControlInput2"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                            >Body:</label
                                        >
                                        <textarea
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="exampleFormControlInput2"
                                            placeholder="Enter Body"
                                            v-model="form.body"
                                            rows="10"
                                        ></textarea>
                                        <div
                                            v-if="props.errors.body"
                                            class="text-red-500"
                                        >
                                            {{ props.errors.body }}
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label
                                            for="categoryIds"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                            >Category:</label
                                        >
                                        <select
                                            multiple="true"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="categoryIds"
                                            v-model="form.category_ids"
                                        >
                                            <option
                                                v-for="category in props.categories"
                                                :key="category.id"
                                                v-bind:value="category.id"
                                            >
                                                {{ category.name }}
                                            </option>
                                        </select>
                                        <div
                                            v-if="props.errors.category_ids"
                                            class="text-red-500"
                                        >
                                            {{ props.errors.category_ids }}
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label
                                            for="exampleFormControlInput1"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                            >Tags:</label
                                        >
                                        <input
                                            type="text"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="exampleFormControlInput1"
                                            placeholder="Enter Tags separate by Comma"
                                            v-model="form.tags_input"
                                        />
                                        <div
                                            v-if="props.errors.tags"
                                            class="text-red-500"
                                        >
                                            {{ props.errors.tags }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
                            >
                                <span
                                    class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto"
                                >
                                    <button
                                        wire:click.prevent="store()"
                                        type="button"
                                        class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-gray-600 text-base leading-6 font-medium text-gray shadow-sm hover:text-gray-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                        v-if="!editMode.status"
                                        @click="action(form, 'store')"
                                    >
                                        Save
                                    </button>
                                </span>
                                <span
                                    class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto"
                                >
                                    <button
                                        wire:click.prevent="store()"
                                        type="button"
                                        class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-gray-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-gray-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                        v-if="editMode.status"
                                        @click="action(form, 'update')"
                                    >
                                        Update
                                    </button>
                                </span>
                                <span
                                    class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto"
                                >
                                    <Link
                                        :href="`/posts`"
                                        class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                    >
                                        Cancel
                                    </Link>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>
