<script setup>
//import Link dari inertia
import { Head, Link } from "@inertiajs/vue3";

//import layout
import BlogLayout from "../../Layouts/BlogLayout.vue";
import Pagination from "../Shared/Pagination.vue";

defineProps({
    posts: Array,
});
</script>
<template>
    <blog-layout>
        <article
            v-for="post in $page.props.posts"
            :key="post.id"
            class="flex flex-col shadow my-4"
        >
            <!-- Article Image -->
            <a href="#" class="hover:opacity-75">
                <img
                    src="https://source.unsplash.com/collection/1346951/1000x500?sig=1"
                />
            </a>
            <div class="bg-white flex flex-col justify-start p-6">
                <div class="text-blue-700 text-sm font-bold uppercase pb-4">
                    <template v-for="(category, index) in post.categories">
                        <template v-if="index > 0" :key="category.slug"
                            >,
                        </template>
                        <Link :href="`/category/${category.slug}`">{{
                            category.name
                        }}</Link>
                    </template>
                </div>

                <Link
                    :href="`/${post.slug}`"
                    class="text-3xl font-bold hover:text-gray-700 pb-4"
                    >{{ post.title }}</Link
                >
                <p href="#" class="text-sm pb-3">
                    By
                    <Link
                        :href="`/user/${post.user.id}`"
                        class="font-semibold hover:text-gray-800"
                        >{{ post.user.name }}</Link
                    >,Published on {{ post.published_at }}
                </p>
                <Link :href="`/${post.slug}`" class="pb-6">{{
                    post.body
                }}</Link>
                <Link
                    :href="`/${post.slug}`"
                    class="uppercase text-gray-800 hover:text-black"
                    >Continue Reading <i class="fas fa-arrow-right"></i
                ></Link>
            </div>
        </article>
        <!-- <div class="mt-8">
            <pagination :links="$page.props.posts.data.links"></pagination>
        </div> -->
    </blog-layout>
</template>
