<script setup>
//import Link dari inertia
import { Head, Link, router } from "@inertiajs/vue3";
import BlogLayout from "./../../Layouts/BlogLayout.vue";
import commentForm from "./../../Components/Comments/CommentForm.vue";

defineProps({
    post: Object,
    likes: Number,
    prevPost: Object,
    nextPost: Object,
});

const action = (id) => {
    console.log(id);
    router.get("/like/" + id);
};
</script>
<template>
    <blog-layout>
        <article class="flex flex-col shadow my-4">
            <!-- Article Image -->
            <a href="#" class="hover:opacity-75">
                <img
                    src="https://source.unsplash.com/collection/1346951/1000x500?sig=1"
                />
            </a>
            <div class="bg-white flex flex-col justify-start p-6">
                <div class="text-blue-700 text-sm font-bold uppercase pb-4">
                    <template
                        v-for="(category, index) in $page.props.post.categories"
                    >
                        <template v-if="index > 0" :key="category.slug"
                            >,
                        </template>
                        <Link :href="`/category/${category.slug}`">{{
                            category.name
                        }}</Link>
                    </template>
                </div>
                <Link
                    :href="`/${$page.props.post.slug}`"
                    class="text-3xl font-bold hover:text-gray-700 pb-4"
                    >{{ $page.props.post.title }}</Link
                >
                <div
                    class="h-16 w-16 bg-red-50 dark:bg-red-800/20 flex items-center justify-center rounded-full"
                >
                    <button @click="action($page.props.post.id)">
                        <svg
                            v-if="!$page.props.likes"
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                        >
                            <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                            />
                        </svg>
                        <svg
                            v-if="$page.props.likes"
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                        >
                            <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
                            />
                        </svg>
                    </button>
                </div>
                {{ $page.props.likes }} Like
                <p href="#" class="text-sm pb-8">
                    By
                    <Link
                        :href="`/user/${$page.props.post.user.id}`"
                        class="font-semibold hover:text-gray-800"
                        >{{ $page.props.post.user.name }}</Link
                    >, Published on {{ $page.props.post.published_at }}
                </p>
                <div class="body">
                    {{ $page.props.post.body }}
                </div>
                <div class="text-blue-700 pt-4">
                    <template v-for="(tag, index) in $page.props.post.tags">
                        <template v-if="index > 0" :key="tag.slug">, </template>
                        <Link :href="`/tag/${tag.slug}`">{{ tag.name }}</Link>
                    </template>
                </div>
            </div>
        </article>

        <div class="w-full flex pt-6">
            <Link
                v-if="$page.props.prevPost"
                :href="`/${$page.props.prevPost.slug}`"
                class="w-1/2 bg-white shadow hover:shadow-md text-left p-6"
            >
                <p class="text-lg text-blue-800 font-bold flex items-center">
                    <i class="fas fa-arrow-left pr-1"></i> Previous
                </p>
                <p class="pt-2">{{ $page.props.prevPost.title }}</p>
            </Link>
            <Link
                v-if="$page.props.nextPost"
                :href="`/${$page.props.nextPost.slug}`"
                class="w-1/2 bg-white shadow hover:shadow-md text-right p-6"
            >
                <p
                    class="text-lg text-blue-800 font-bold flex items-center justify-end"
                >
                    Next <i class="fas fa-arrow-right pl-1"></i>
                </p>
                <p class="pt-2">{{ $page.props.nextPost.title }}</p>
            </Link>
        </div>

        <div
            class="w-full flex flex-col text-center md:text-left md:flex-row shadow bg-white mt-10 mb-10 p-6"
        >
            <div
                class="w-full md:w-1/5 flex justify-center md:justify-start pb-4"
            >
                <img
                    src="https://source.unsplash.com/collection/1346951/150x150?sig=1"
                    class="rounded-full shadow h-32 w-32"
                />
            </div>
            <div class="flex-1 flex flex-col justify-center md:justify-start">
                <p class="font-semibold text-2xl">
                    {{ $page.props.post.user.name }}
                </p>
                <p class="pt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur vel neque non libero suscipit suscipit eu eu urna.
                </p>
                <div
                    class="flex items-center justify-center md:justify-start text-2xl no-underline text-blue-800 pt-4"
                >
                    <a class="" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="pl-4" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="pl-4" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="pl-4" href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>

        <!--Comment Section-->
        <div class="max-w-3xl mx-auto">
            <commentForm
                :comments="$page.props.post.comments"
                :post="$page.props.post"
            ></commentForm>
        </div>
    </blog-layout>
</template>
